<app-navbar></app-navbar>

<section class="cs-promo-bar bg-primary py-2">
    <div class="container d-flex justify-content-center">
      <div class="cs-carousel cs-controls-inverse">
          <div class="font-size-xs text-light px-2">
            <strong class="mr-1">Por registrarte por primera vez, recibe 100 puntos</strong>
          </div>
      </div>
    </div>
</section>

<main  class="cs-page-wrapper">
    <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="px-md-5">
                    <h3 class="modal-title mt-4 mb-4 text-center">Registro</h3>
                    <form #registerForm="ngForm" (ngSubmit)="registrarCliente(registerForm)">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="signin-email">Nombre</label>
                                    <input type="email" class="form-control"  placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre">
                                </div>
                                <div class="col-lg-6">
                                    <label for="signin-email">Apellidos</label>
                                    <input type="email" class="form-control"  placeholder="Apellidos" required name="apellidos" [(ngModel)]="usuario.apellidos">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signin-email">Teléfono</label>
                            <input type="number" class="form-control" placeholder="Ingresa tu número" required name="celular" [(ngModel)]="usuario.celular">
                        </div>

                        <div class="form-group">
                            <label for="signin-email">Correo Electrónico</label>
                            <input type="email" class="form-control" placeholder="Ingresa tu correo" required name="email" [(ngModel)]="usuario.email">
                        </div>

                        <div class="form-group">
                            <label for="signin-password" class="form-label">Contraseña</label>
                            <div class="cs-password-toggle input-group-overlay">
                                <input [type]="changetype?'password':'text'" class="form-control appended-form-control" id="signin-password" placeholder="Ingresa tu contraseña" required name="contrasenia" [(ngModel)]="usuario.contrasenia">
                                <div class="input-group-append-overlay">
                                  <label class="btn cs-password-toggle-btn input-group-text" (click)="viewpass()">
                                    <span><i [ngClass]="visible?'cxi-eye':'cxi-eye-closed'"></i>
                                    </span>
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signin-confirm-password" class="form-label">Confirmar contraseña</label>
                            <div class="cs-password-toggle input-group-overlay">
                                <input [type]="changetypeconfirm?'password':'text'" class="form-control appended-form-control" id="signin-confirm-password" placeholder="Ingresa nuevamente tu contraseña" required name="confirmcontrasenia" #confirmcontrasenia>
                                <div class="input-group-append-overlay">
                                  <label class="btn cs-password-toggle-btn input-group-text" (click)="viewconfirmpass()">
                                    <span><i [ngClass]="visible2?'cxi-eye':'cxi-eye-closed'"></i>
                                    </span>
                                  </label>
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        <p class="font-size-sm pt-4 mb-0">
                            Ya tienes una cuenta?
                            <a [routerLink]="['/login']" class="font-weight-bold text-decoration-none">Inicia sesión</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>