<app-navbar></app-navbar>


<main class="cs-page-wrapper">
    <div class="container py-5">
        <div class="row">
            <div class="col-6">
                <h2>Tu pedido ha sido enviado. <hr> Gracias por tu compra</h2>
                <p>Haz clic <a style="color: red;" [routerLink]="['/cuenta/pedidos']" >aquí</a> para ver tu pedido reciente</p>
            </div>
            <div class="col-6">
                <div class="image">
                    <img src="../../assets/img/lapaycha/check.webp" width="40%" alt="Check">
                </div>
            </div>
        </div>
    </div>
</main>
