<!-- Header (Topbar + Navbar) -->
<header class="cs-header">
  <!-- Navbar -->
  <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
  <div class="navbar navbar-expand-lg navbar-light fixed-top" data-fixed-element style="height: 90px;">
    <div class="container px-0 px-xl-3">
      <a class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
        <img src="assets/img/logo.png" alt="La Paycha Logo" width="70">
      </a>
      <!-- Toolbar -->
      <div class="d-flex order-lg-3">
        <ul class="nav nav-tools flex-nowrap align-items-center">

            <ng-container *ngIf="token == ''">
              <li class="nav-item d-lg-block d-none mb-0">
                <a style="cursor: pointer;" [routerLink]="['/login']" class="nav-tool">
                  <i class="cxi-profile nav-tool-icon text-white"></i>
                  <span class="nav-tool-label header-tipografia">Iniciar sesión</span>
                </a>
              </li>
            </ng-container>

            <ng-container *ngIf="token">
              <li class="nav-item d-lg-block d-none mb-0 dropdown">
                <a style="cursor: pointer;" class="nav-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="cxi-profile nav-tool-icon text-white"></i>
                  <span class="nav-tool-label header-tipografia">{{nombreUsuario + ' ' + apellidosUsuario}}</span>
                </a>
                <div class="dropdown-menu">
                  <a [routerLink]="['/cuenta/perfil']" routerLinkActive="active" class="dropdown-item">
                    <i class="cxi-profile me-2"></i>
                    Perfil
                  </a>
                  <a [routerLink]="['/cuenta/pedidos']" routerLinkActive="active" class="dropdown-item">
                    <i class="cxi-comment me-2"></i>
                    Pedidos
                  </a>
                  <a (click)="cerrarSesion()" style="cursor: pointer;" class="dropdown-item">
                    <i class="cxi-logout me-2"></i>
                    Cerrar sesión
                  </a>
                </div>
              </li>
            </ng-container>
          


          <li class="nav-item align-self-center d-flex align-items-center mb-0">
            <a style="cursor: pointer;" class="nav-tool pr-lg-0" (click)="open_modalcart()">
              <div class="cart-button">
                <div class="cart-button__cantidad">
                  <span>S/ {{subtotal | number:'1.2-2'}}</span>
                </div>
                <div class="cart-icon">
                  <i class="cxi-cart nav-tool-icon"></i>
                  <span class="badge">{{contador ?? 0}}</span> 
                </div>
              </div>
            </a>
          </li>


          <!---
            
          <li class="nav-item d-lg-block d-none mb-0 ml-3">
            <span class="header-tipografia">945493821</span>
          </li>

          --->
          <li class="nav-item mb-0">
            <button class="navbar-toggler mt-n1 mr-n3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
          </li>
          
        </ul>
      </div>
      <!-- Navbar collapse -->
      <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">
        <!-- Menu -->
        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link header-tipografia">Inicio</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/carta/2']" routerLinkActive="active"  class="nav-link header-tipografia">Carta</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!--- Modal de Carrito --->
<div id="cart" class="cs-offcanvas cs-offcanvas-right" #cart>

  <!-- Header -->
  <div class="cs-offcanvas-cap align-items-center border-bottom">
    <h2 class="h5 mb-0">Mi carrito ({{contador ?? 0}})</h2>
    <button class="close mr-n1" type="button" data-dismiss="offcanvas" aria-label="Close" (click)="open_modalcart()">
      <span class="h3 font-weight-normal mb-0" aria-hidden="true" >×</span>
    </button>
  </div>

  <!-- Body -->
  <div class="cs-offcanvas-body">
    <ng-container *ngIf="productos.length > 0">
      <!-- Item -->
      <div class="media p-4 mx-n4" *ngFor="let p of productos; let i = index">
        <a style="min-width: 80px;">
          <img [src]="p?.imagen ? p.imagen : 'assets/img/no-image.png'" width="80" alt="Product thumb">
        </a>
        <div class="media-body pl-3">
          <div class="d-flex justify-content-between">
            <div class="pr-2">
              <h3 class="font-size-sm mb-3">
                <a class="nav-link font-weight-bold">{{p.nombre_producto}}</a>
              </h3>
              <ng-container *ngIf="p.acompanamientos.length > 0">
                <ul class="list-unstyled font-size-sm mt-n2 mb-2">
                  <li class="mb-0" *ngFor="let ma of categorizarPorTipoAcomps(p.acompanamientos);">
                    <span class="text-muted">{{ma.tipo}}:</span>
                    <ul>
                      <li *ngFor="let acomp of ma.acompanamientos">
                        {{acomp.acompanamiento}}<span style="font-weight: bold;">{{acomp.precio > 0 ? ": S/ " + (acomp.precio | number:'1.2-2') : ''}}</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </ng-container>
              <ng-container *ngIf="p.combos.length > 0">
                <ul class="list-unstyled font-size-sm mt-n2 mb-2">
                  <span class="text-muted">Combos:</span>
                  <li class="mb-0" *ngFor="let c of p.combos">
                    <ul>
                      <li>{{c.combo}}: <span style="font-weight: bold;">S/ {{c.precio | number:'1.2-2'}}</span></li>
                    </ul>
                  </li>
                </ul>
              </ng-container>
              <div class="d-flex align-items-center">
                <div class="quantity-control">
                  <button class="control-button increment" (click)="incrementar(i)">+</button>
                  <span class="quantity" #cantidad_producto>{{p.cantidad_producto}}</span>
                  <button class="control-button decrement" (click)="disminuir(i)">-</button>
                </div>
                <div class="text-nowrap ml-4"><strong>S/ {{p.subtotal | number:'1.2-2'}}</strong></div>
              </div>
            </div>

            <div class="nav-muted mr-n2">
              <a (click)="eliminarProductoCarrito(i)" class="nav-link px-2 mt-n2" data-toggle="tooltip" title="" data-original-title="Remove"><i class="cxi-delete"></i></a>
            </div>
            
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="productos.length <= 0">
      <div class="no-products__container">
        <div class="no-products">
          <img src='assets/img/lapaycha/cero-items.png' width="120" alt="Product thumb">
          <span class="no-products__title mt-3">Carrito vacío</span>
        </div>
      </div>
    </ng-container>
    
  </div>

  <!-- Footer -->
  <ng-container *ngIf="productos.length > 0">
    <div class="cs-offcanvas-cap flex-column border-top">
      <div class="d-flex align-items-center justify-content-between mb-3 pb-1">
        <span class="text-muted mr-2">Cantidad de tapers: <strong style="color: black;">{{taperService.taper.cantidad_taper.toFixed(0)}}</strong></span>
        <span class="h5 mb-0">S/ {{taperService.taper.subtotal_taper.toFixed(0)}}.00</span>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-3 pb-1">
        <span class="text-muted mr-2">Subtotal:</span>
        <span class="h5 mb-0">S/ {{subtotal | number:'1.2-2'}}</span>
      </div>
      <button [routerLink]="['/checkout']" class="btn btn-finalizar btn-lg btn-block">
        <i class="cxi-credit-card font-size-lg mt-n1 mr-1"></i>
        Finalizar compra
      </button>    
    </div>
  </ng-container>
  
</div>



<div class="boton-flotante-usuario" *ngIf="token">
  <input type="checkbox" id="btn-mas">
  <div class="redes">
      <a [routerLink]="['/cuenta/perfil']">Mi perfil</a>
      <a [routerLink]="['/cuenta/pedidos']">Mis pedidos</a>
      <a (click)="cerrarSesion()" style="cursor: pointer;" >Cerrar sesión</a>
  </div>
  <div class="btn-mas">
      <label for="btn-mas"><i class="cxi-profile"></i></label>
  </div>
</div>

<div class="boton-flotante-usuario" *ngIf="token == ''">
  <div class="btn-mas" [routerLink]="['/login']">
      <label for="btn-mas" style="font-size: 1rem;" >Iniciar sesión</label>
  </div>
</div>