.label-entrega, .text-puntos {
    font-size: 0.9rem;
}

.subtotal__title, .subtotal__price, .forma-entrega__title, .puntos-descuento__title, .metodo-pago__title {
    color: black;
    font-weight: bold;
}

.btn-finalizar{
    background-color: #F2C447;
    border-color: #F2C447;
    color: black;
}

.btn-finalizar:hover{
    background-color: #f5c02d;
    border-color: #f5c02d;
    color: black;
}

.puntos-ganados {
    color: rgb(16, 159, 16);
    font-weight: bold;
}

.btn-cancelar-puntos {
    background-color: rgb(207, 6, 6);
    color: white;
}

.mensaje-puntos-restantes {
    color: rgb(9, 39, 230);
}

.subtitle_direccion {
    font-weight: 700;
}

.btn-process{
    background-color: #fa393f;
    border-color: #fa393f;
    color: white;
}

.btn-process:hover{
    background-color: #C42227;
    border-color: #C42227;
}