<app-navbar 
  (updateSubTotalCarrito)="getSubTotalCarrito()">
</app-navbar>

<main class="cs-page-wrapper">


    <!-- Page content -->
    <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
      <div class="row">

        <!-- Checkout content -->
        <div class="col-lg-7 pr-lg-6">
          <div class="d-flex align-items-center justify-content-between pb-2 mb-4">
            <h1 class="mb-0">Finalizar compra</h1>
          </div>

          <hr class="border-top-0 border-bottom pt-2 mb-4">

          <!-- Order review -->
          <h2 class="h4 mb-4">Resumen del pedido</h2>

          <div class="message-carrito-vacio" *ngIf="productos.length == 0">
            <span style="color: red;">No hay productos en el carrito</span>
          </div>

          <table class="table" style="color: black;" *ngIf="productos.length > 0">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of productos; let i = index">
                <td>
                  <a style="min-width: 80px;">
                    <img [src]="p?.imagen ? p.imagen : 'assets/img/no-image.png'" width="80" alt="Product thumb">
                  </a>
                </td>
                <td>
                  <h3 class="font-size-sm mb-3">
                    <a class="nav-link font-weight-bold">{{p.nombre_producto}}</a>
                  </h3>
                  <ng-container *ngIf="p.acompanamientos.length > 0">
                    <ul class="list-unstyled font-size-sm mt-n2 mb-2">
                      <li class="mb-0" *ngFor="let ma of categorizarPorTipoAcomps(p.acompanamientos);">
                        <span class="text-muted">{{ma.tipo}}:</span>
                        <ul>
                          <li *ngFor="let acomp of ma.acompanamientos">
                            {{acomp.acompanamiento}}<span style="font-weight: bold;">{{acomp.precio > 0 ? ": S/ " + (acomp.precio | number:'1.2-2') : ''}}</span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="p.combos.length > 0">
                    <ul class="list-unstyled font-size-sm mt-n2 mb-2">
                      <span class="text-muted">Combos:</span>
                      <li class="mb-0" *ngFor="let c of p.combos">
                        <ul>
                          <li>{{c.combo}}: <span style="font-weight: bold;">S/ {{c.precio | number:'1.2-2'}}</span></li>
                        </ul>
                      </li>
                    </ul>
                  </ng-container>
                </td>
                <td>
                  <span class="quantity mr-3" #cantidad_producto>{{p.cantidad_producto}}</span>
                </td>
                <td>
                  <div class="text-nowrap pt-2"><strong>S/ {{p.subtotal | number:'1.2-2'}}</strong></div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="pt-3 mb-3"></div>

          <!-- Adresses -->
          <ng-container *ngIf="id_forma_entrega == 2">
            <h2 class="h4 mb-4">Direccion de entrega</h2>
            <div class="row pb-5">
              <div class="col-md-12">
                <label class="subtitle_direccion" for="ch-address">1. Puedes registrar tu dirección de entrega y la referencia aquí:</label>
              </div>
              <div class="col-md-12 form-group">
              </div>
              <div class="col-sm-6 form-group">
                <label for="ch-address">Dirección de entrega:</label>
                <input type="text" class="form-control form-control-lg" name="direccion" [(ngModel)]="direccion.direccion" placeholder="Ingresa tu dirección">
              </div>
              <div class="col-sm-6 form-group">
                <label for="ch-referencia">Referencia:</label>
                <select id="ch-referencia" class="custom-select custom-select-lg" name="id_lugar" [(ngModel)]="direccion.id_lugar" (change)="onLocalidadSeleccionada()">
                    <option value="0" disabled>Escoge tu localidad</option>
                    <option value="{{l.id_lugar}}" *ngFor="let l of lugares">{{l.lugar}}</option>
                </select>
              </div>
              <div class="col-md-12">
                <button class="btn btn-process btn-lg" (click)="registrarDireccion()" >&nbsp;Registrar dirección&nbsp;</button>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-md-12">
                <label class="subtitle_direccion" for="ch-address">2. O puedes seleccionar una dirección de entrega existente:</label>
              </div>
              <div class="col-sm-6 form-group">
                <label for="ch-address">Dirección de entrega:</label>
                <select id="ch-referencia" class="custom-select custom-select-lg" [(ngModel)]="id_direccion" (change)="onDireccionSeleccionada()">
                  <option value="0" disabled>Escoge tu direccion:</option>
                  <option value="{{d.id_direccion}}" *ngFor="let d of direcciones">{{d.direccion}}</option>
                </select>
              </div>
              <div class="col-sm-6 form-group">
                <label for="ch-referencia">Referencia:</label>
                <input type="text" id="ch-referencia" class="form-control form-control-lg" [value]="lugar ?? ''" disabled>
              </div>
            </div>
          </ng-container>
          

          <div class="pt-3 mb-3"></div>

          <!-- Additional info -->
          <ng-container *ngIf="id_metodo_pago == 1">
            <h2 class="h4 mb-4">Billete de pago</h2>
            <div class="form-group">
              <label for="ch-notes">Indica el billete con el que vas a pagar:</label>
              <input type="text" class="form-control form-control-lg" name="billete_pago" [(ngModel)]="billete_pago">
            </div>
          </ng-container>
          

          <div class="pt-3 mb-3"></div>

          <!-- Additional info -->
          <h2 class="h4 mb-4">Comprobante de pago (opcional)</h2>
          <div class="form-group">
            <label for="ch-notes">¿Desea voucher o factura? (si es factura, porfavor ingresar la Razón Social y el RUC)</label>
            <input type="text" class="form-control form-control-lg" name="comprobante_pago" [(ngModel)]="comprobante_pago">
          </div>

          <div class="pt-3 mb-3"></div>

          
        </div>


        <!-- Order totals (sticky sidebar) -->
        <!-- For more sticky sidebar options visit https://abouolia.github.io/sticky-sidebar/#options -->
        <aside class="col-lg-5">
          <div class="sidebar-sticky" data-sidebar-sticky-options='{
            "topSpacing": 120,
            "minWidth": 991
          }'>
            <div class="sidebar-sticky-inner">
              <div class="form-group">
                <label for="promo-code">Aplicar puntos de descuento: Tienes <strong>{{puntos_usuario}}</strong> puntos</label>
                <div class="input-group input-group-lg">
                  <input type="text" id="promo-code" class="form-control" placeholder="Ingresa tus puntos de descuento" [(ngModel)]="puntos_descuento" name="puntos_descuento">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-finalizar" (click)="aplicarPuntosParaDescuento()">&nbsp;&nbsp;Aplicar&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-cancelar-puntos" (click)="cancelarAplicarPuntos()">
                      &nbsp;&nbsp;<i class="cxi-cross"></i>&nbsp;&nbsp;
                    </button>
                  </div>
                </div>
                <div class="mt-2">
                  <span *ngIf="existPoints" class="mensaje-puntos-restantes">Te quedarán <strong>{{puntos_restantes}}</strong> puntos</span>
                </div>
              </div>
              <div class="bg-secondary rounded mb-4">
                <div class="border-bottom p-4">
                  <h2 class="h4 mb-0">Resumen de pago:</h2>
                </div>
                <ul class="list-unstyled border-bottom mb-0 p-4">
                  <li class="d-flex justify-content-between mb-4">
                    <div class="d-flex flex-column">
                      <span class="subtotal__title">Subtotal:</span>
                      <div class="d-flex mt-2 ml-2">
                        <object data="assets/img/subdirectory-arrow-right.svg" type="image/svg+xml" width="18" height="18"></object>
                        <span class="text-puntos ml-1">
                          Cantidad de Tapers: {{taperService.taper.cantidad_taper.toFixed(0)}}
                        </span>
                      </div>
                      <div class="d-flex mt-2 ml-2">
                        <object data="assets/img/subdirectory-arrow-right.svg" type="image/svg+xml" width="18" height="18"></object>
                        <span class="text-puntos ml-1">
                          Costo Tapers: S/ {{taperService.taper.subtotal_taper.toFixed(0)}}.00
                        </span>
                      </div>
                    </div>
                    <span class="subtotal__price">S/ {{subtotal  | number:'1.2-2'}}</span>

                  </li>
                  <!----
                  <li class="d-flex justify-content-between mb-4">
                    <div class="d-flex flex-column">
                      <span class="subtotal__title">Taper:</span>
                      <div class="d-flex mt-2 ml-2">
                        <object data="assets/img/subdirectory-arrow-right.svg" type="image/svg+xml" width="18" height="18"></object>
                        <span class="text-puntos ml-1">
                          Cantidad Tapers: {{taperService.taper.cantidad_taper}}
                        </span>
                      </div>
                    </div>

                    <span class="subtotal__price">S/ {{taperService.taper.subtotal_taper | number:'1.2-2'}}</span>
                  </li>
                  ----->
                 
                  <li class="d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex flex-column">
                      <span class="forma-entrega__title">Forma de entrega:</span>
                      <div class="form-check form-check-inline mt-2 ml-3" *ngFor="let f of formasEntrega; let i = index">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="id_forma_entrega" [value]="f.id_forma_entrega" (change)="onFormaEntregaSeleccionada()" id="inlineRadio{{i}}">
                        <label class="form-check-label label-entrega" for="inlineRadio{{i}}">{{f.descripcion}}</label>
                      </div>
                      
                    </div>
                    <span>{{'S/ ' + (comision | number:'1.2-2')}}</span>
                  </li>
                  
                  <li class="d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex flex-column">
                      <span class="puntos-descuento__title">Descuento por puntos:</span>
                      <div class="d-flex mt-2 ml-2">
                        <object data="assets/img/subdirectory-arrow-right.svg" type="image/svg+xml" width="18" height="18"></object>
                        <span class="text-puntos ml-1">
                          Puntos usados: {{puntos_usados}}
                        </span>
                      </div>
                      
                    </div>
                    <span>- S/ {{(descuento | number:'1.2-2')}}</span>
                  </li>
                  
                  <li class="d-flex flex-column">
                    <div class="d-flex flex-column">
                      <span class="metodo-pago__title mb-3">Método de pago:</span>
                        <div class="d-flex flex-wrap accordion-alt" id="payment-methods" style="column-gap: 10px;">
                          <div class="card mb-3 px-4 py-3 border rounded box-shadow-sm" *ngFor="let m of metodosPago; let i = index">
                            <div class="card-header py-2">
                              <div class="accordion-heading custom-control custom-radio">
                                <input type="radio" class="custom-control-input" [(ngModel)]="id_metodo_pago" [value]="m.id_metodo_pago" (change)="onMetodoPagoSeleccionado()" id="{{m.nombre}}">
                                <label for="{{m.nombre}}" class="custom-control-label">
                                  <strong class="d-block mr-3">{{m.nombre}}</strong>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </li>

                  <li class="d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex flex-column">
                      <span class="puntos-descuento__title">Puntos que ganarás:</span>                      
                    </div>
                    <span class="puntos-ganados">+ {{puntos_ganados}} pts</span>
                  </li>
                </ul>
                <div class="d-flex justify-content-between p-4">
                  <span class="h5 mb-0">Total del pedido:</span>
                  <span class="h5 mb-0">S/ {{total | number:'1.2-2'}}</span>
                </div>
              </div>
              <button type="button" (click)="registrarOrden()" class="btn btn-finalizar btn-lg btn-block">Realizar el pedido</button>
            </div>
          </div>
        </aside>
      </div>
    </section>

  </main>