<!-- Footer -->
<footer class="cs-footer pt-sm-5 pt-4">
    <div class="container pt-3">
      <div class="row pb-sm-2">
        <!--
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
          
          </div>
          <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
            
          </div>

        -->
        <div class="col-sm-12 col-lg-12 pb-2 pb-lg-0 mb-6 text-center">
          <h3 class="footer__title mb-2 pb-4 text-light">Síguenos en:</h3>
          <div class="footer__opciones">
            <a href="https://web.facebook.com/lapaychaburguer" target="_blank" class="footer__opciones-btn-social social-btn sb-solid mr-2">
              <i class="cxi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/la_paycha/?hl=es-la" target="_blank" class="footer__opciones-btn-social social-btn sb-solid mr-2">
              <i class="cxi-instagram"></i>
            </a>
          </div>
          
        </div>
        <!--
        
        <div class="col-lg-4 col-xl-3 mb-4">

        </div>

        --->
      </div>
    </div>
    <div class="border-top border-light">
      <div class="container py-4">
        <div class="font-size-xs footer__copyright">
          Copyright
          <span class="font-size-sm">&copy; </span>
          2023 La Paycha
        </div>
      </div>
    </div>
</footer>